---
import Twitter from "../components/icons/Twitter.svg";
import Discord from "../components/icons/Discord.svg";
import Instagram from "../components/icons/Instagram.svg";
---

<footer class="bg-slate-950 text-slate-100 mb-0 p-5">
  <div class="space-y-5 md:flex gap-10 justify-center p-15">
    <div class="lg:w-96 space-y-4">
      <h3 class="text-2xl">Borealis</h3>
      <p class="text-sm font-light text-slate-400">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima eveniet
        est obcaecati eligendi totam quibusdam, odit impedit natus esse incidunt
      </p>
    </div>

    <div class="flex lg:w-[30%] justify-between space-x-10">
      <!-- Quick links -->
      <nav class="grid space-y-4">
        <h3 class="text-2xl">Contactanos</h3>

        <ul class="text-slate-400">
          <li>Personajes</li>
          <li>Locaciones</li>
          <li>Cronologia</li>
          <li>Sistema de magia</li>
        </ul>
      </nav>

      <!-- Comunidad -->
      <nav class="grid">
        <h3 class="text-2xl">Contactanos</h3>

        <ul class="text-slate-400">
          <li>Foro</li>
          <li>Fan Art</li>
          <li>Teorias</li>
        </ul>
      </nav>

      <!-- Social Links -->
      <nav class="">
        <h3 class="text-2xl">Contactanos</h3>
        <ul class="flex gap-3">
          <li><Twitter width={32} /></li>
          <li><Instagram width={32} /></li>
          <li><Discord width={40} /></li>
        </ul>
      </nav>
    </div>
  </div>

  <div
    class="border-t border-slate-700 text-slate-500 font-bold text-center pt-5"
  >
    <span>© 2025 Borealis. All rights reserved.</span>
  </div>
</footer>
