---
import { Image } from "astro:assets";
import card_profile from "../assets/characters/maia/card_profile.jpg";
import type { InferEntrySchema } from "astro:content";

type Character = InferEntrySchema<"characters"> & { slug: string };

interface Props {
  character: Character;
}

const { character } = Astro.props;
---

<a href={`/personajes/${character.slug}`}>
  <article class="relative   overflow-hidden rounded">
    <h3
      class="transition-all cursor duration-500 default italic font-light absolute text-slate-300 bottom-5 flex justify-center w-full"
    >
      {character.nombre}
    </h3>

    <Image
      class="rounded-md w-full h-30 object-cover hover:scale-105 transition-all duration-500"
      src={character.card_profile}
      alt={character.nombre}
      loading="eager"
    />
  </article>
</a>
