<nav class="w-full">
  <ul class="flex space-x-10 items-center">
    <li>
      <a
        class="transition-all hover:bg-slate-300 border border-slate-300 py-1 px-4 rounded-md"
        href="/">Inicio</a
      >
    </li>
    <li><a href="/personajes">Personajes</a></li>
    <li><a href="/locaciones">Locaciones</a></li>
    <li><a href="/cronologia">Cronología</a></li>
    <li><a href="/exominia">Exominia</a></li>
  </ul>
</nav>
